DB_URL=postgresql+asyncpg://postgres:postgrespw@localhost:5432
DEPLOY_ENVIRONMENT=LOCAL
AUTH_ALGORITHM=HS256
AUTH_SECRET_KEY=secretkey
SQL_ADMIN_USERNAME=admin
SQL_ADMIN_PASSWORD=adminpassword
SQL_ADMIN_SECRET_KEY=pwsdsmkljvsbhjgufuasdfiuasdkobnoirgbnudfbSDAFADSKJsdappp
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60
NEO4J_DB_URL=neo4j://localhost:7687
NEO4J_DB_USERNAME=neo4j
NEO4J_DB_PASSWORD=password
